<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      <%= @template.title %>
    </title>
    <style>
      .annotations {
        margin: 10px 0 10px 15px;
      }
    </style>
  </head>
  <body style="font-family: Arial; font-size: 11pt;">
    <% @template.phases.each_with_index do |phase, idx| %>
      <% unless idx.eql?(0) %>
        <div style="page-break-before:always;"></div> <!-- Page break before each phase -->
      <% end %>
      <h2><%= "#{@template.org.name}: #{@template.title}" %><%= @template.phases.length > 1 ? " - #{phase.title}" : "" %></h2>
      <% phase.sections.order(:number).each do |section| %>
        <%= render partial: 'shared/template_exports/display_sections', locals: { section: section, export_format: 'docx' } %>
      <% end %>
    <% end %>
    <% if @modules_tplt.length > 0 %>
      <%= render partial: 'shared/template_exports/display_modules', locals: { modules_tplt: @modules_tplt, export_format: 'docx' } %>
    <% end %>
  </body>
</html>
