<% is_module = request.query_parameters[:type] == 'module' %>
<% title = if is_module then _('New module') elsif @template.id.present? then @template.title else _('New Template') end %>

<div class="row">
  <div class="col-md-12">
    <h1><%= title %></h1>
    <%= link_to _(is_module ? 'View all modules' : 'View all templates'),
                is_module ? super_admin_module_templates_path : org_admin_templates_path,
                class: 'btn btn-default pull-right' %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <!-- render navigation tabs for the template-->
    <%= render partial: "org_admin/templates/navigation",
               locals: { template: @template } %>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="template_edit">
              <%= form_for([:org_admin, @template]) do |f| %>
                <%= render 'form', { f: f }%>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
