<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"><%= _('Guidance group') %>&nbsp;</th>
        <th scope="col"><%= _('Organisation Name') %>&nbsp;</th>
        <th scope="col" class="date-column"><%= _('Last Updated') %>&nbsp;</th>
        <th scope="col" class="sorter-false text-center download-column"><%= _('Download') %></th>
      </tr>
    </thead>
    <tbody>
      <% scope.each do |guidance_group| %>
        <% if guidance_group.published = "true"%>
          <tr id="<%= dom_id(guidance_group) %>">
            <td>
              <%= guidance_group.name %>
            </td>
            <td><%= guidance_group.org.name %></td>
            <td class="text-center"><%= l guidance_group.updated_at.to_date, formats: :short %></td>

            <td class="text-center">
              <%= link_to guidance_group_export_path(guidance_group.id, format: :pdf), target: '_blank' do %>
                <i class="fas fa-file-pdf" aria-hidden="true"></i>
                <em class="sr-only"><%= _('(new window)') %></em>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
