<%
url = if @static_page.new_record?
  super_admin_static_pages_path
else
  super_admin_static_page_path(@static_page)
end
%>

<%= form_for @static_page, url: url do |f| %>
  <div class="row">
    <!-- Name field -->
    <div class="form-group">
      <%= f.label :name, _('Name'), class: 'control-label' %>
      <%= f.text_field :name, class: 'form-control', value: @static_page.name, "aria-required": true %>
    </div>

    <!-- URL field -->
    <div class="form-group">
      <%= f.label :url, _('URL'), class: 'control-label' %>
      <%= f.text_field :url, class: 'form-control', value: @static_page.url, "aria-required": true %>
    </div>

    <%= f.label _('Content') %>

    <!-- Tabs for content language -->
    <ul class="nav nav-tabs">
      <% Language.all.each do |l| %>
      <li>
        <a data-toggle="tab" href="#<%= l.abbreviation %>"><%= l.name %></a>
      </li>
      <% end %>
    </ul>

    <!-- Tabs content for content language -->
    <div class="tab-content">
      <%= f.fields_for :static_page_contents do |ff| %>
      <div id="<%= ff.object.language.abbreviation %>" class="tab-pane fade">
        <%= ff.hidden_field :language_id, value: ff.object.language.id %>
        <%= ff.text_area :content, value: ff.object.content, class: "tinymce" %>
      </div>
      <% end %>
    </div>

    <!-- Buttons -->
    <div class="pull-right">
      <%= f.button _('Save'), class: 'btn btn-default', type: 'submit' %>
      <%= link_to _('Cancel'), super_admin_static_pages_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
