<%# locals: { plan, research_outputs, research_output_types } %>
<% title "#{@plan.title}" %>

<% content_for :plan_tab_body do %>
  <% if @plan.template.classic? %>
    <div id="research-outputs" class="fragment-<%= @plan.json_fragment.id%>">
      <%= hidden_field_tag 'plan_id', @plan.id %>
      <h2><%= _('Research outputs') %></h2>
      <h3><%= _('Dataset, software, workflow, sample, protocol...') %></h3>
      <div class="display-readonly-textarea-content">
        <p><%= _('Please fill in separately for research outputs requireing a management specific to their nature or discipline.') %></p>
      </div>
      <% I18n.with_locale @plan.template.locale do %>
        <ul id='research-outputs-list'>
          <%= turbo_frame_tag "research_outputs" do %>
            <%= render @research_outputs %>
            
          <% end %>
        </ul>
      <% end %>
      <% if @plan.editable_by?(current_user.id) %>
        <div class='links'>
          <%= button_to _('Add a research output'), classic_research_outputs_url(plan_id: @plan.id), 
            {
              form: { data: { turbo: true, turbo_stream: true } },
              class: "add-research-output btn btn-primary",
              data: {
                toggle: "tooltip",
                'original-title': _("Click here to add a new research output")
              }
            }
          %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div id="research-outputs" class="fragment-<%= @plan.json_fragment.id%>">
      <%= _('This tab is used by classic plans, if you want to manage your research output, please go to the "Write Plan" tab.') %>
    </div>
  <% end %>
<% end %>
<%= render partial: "plans/navigation", locals: { plan: @plan } %>
