<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= _('Name') %>&nbsp;<%= paginable_sort_link('themes.title') %></th>
      <th scope="col"><%= _('Guidance') %>&nbsp;<%= paginable_sort_link('themes.description') %></th>
      <th scope="col"><%= _('Languages') %></th>
    </tr>
  </thead>
  <tbody>
    <% scope.each do |theme| %>
      <tr>
        <td><%= link_to(theme.title, edit_super_admin_theme_path(theme)) %></td>
        <td><%= sanitize(theme.description) %></td>
        <td>
          <% locales = Language.all %>
          <% fr_locale = locales.find { |locale| locale.abbreviation == 'fr-FR' } %>
          <% languages = theme.translations.keys.map { |abbr| locales.find { |locale| locale.abbreviation == abbr }&.name }.compact %>
          <% languages.unshift(fr_locale.name) if fr_locale %>
          <%= languages.join(', ') %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
