<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      <%= @guidance_group.name %>
    </title>
  </head>
  <body>


     <h1><%= "#{@guidance_group.org}: #{@guidance_group.name} (#{@guidance_group.language.name})" %></h1>
    <% language= @guidance_group.language.abbreviation%>
    <% t_list= ['description-des-donnees', 'reutilisation-de-donnees', 'collecte-des-donnees', 'metadonnees-&-documentation', 'qualite-scientifique-des-donnees', 'donnees-personnelles', 'droits-de-propriete-intellectuelle', 'ethique', 'traitement-&-analyse-des-donnees', 'stockage-&-securite', 'partage-des-donnees', 'conservation-a-long-terme'] %>
    <% guidances= @guidance_group.guidances %>
    <% for theme in t_list %>
      <% for guidance in guidances   %>
        <% if guidance.themes[0].slug == theme %>
          <% theme= guidance.themes[0] %>
          <% if language == "fr-FR" %>
            <h3><%= theme.title  %></h3>
          <% elsif language == "en-GB" %>
            <h3><%= theme.translations.dig('en-GB', 'title')  %></h3>

          <% end %>

          <p><%= sanitize guidance.text.chomp.strip %></p>
        <% end %>
      <% end %>
    <% end %>


  </body>
</html>
