<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>
      <%= @guidance_group.name %>
    </title>
    <style>
      html {
        font-family: <%= @formatting[:font_face].tr('"', '') -%>;
        font-size: <%= @formatting[:font_size] -%>pt;
        margin: <%= @formatting[:margin][:top] %>px <%= @formatting[:margin][:right] %>px <%= @formatting[:margin][:bottom] %>px <%= @formatting[:margin][:left] %>px; */
      }
      h1 {
        font-size: <%= @formatting[:font_size] + 3 -%>pt;
        font-face:bold;
        padding: 0;
      }
      h2 {
        font-size: <%= @formatting[:font_size] + 2 -%>pt;
        font-face:bold;
        padding: 0;
        margin: 1em 0 0 0;
      }
      h3 {
        font-size: <%= @formatting[:font_size] + 1 -%>pt;
        font-face:bold;
        padding: 0;
        margin: 1em 0 0 0;
      }
      h2 + div.question > h3 {
        margin: 0;
      }
      table, tr, td, th, tbody, thead, tfoot {
        page-break-inside: avoid !important;
      }
      table {
        border-collapse: collapse;
      }
      th, td {
        border: 1px solid black !important;
        padding: 2px;
      }
      p {
        margin: 0.25em 0;
      }
      .question {
        margin-top: 15px;
        margin-bottom: 10px;
      }
      .question:first-child {
        margin-top: 0;
      }
      .annotations {
        margin-left: 15px;
        margin-bottom: 10px;
      }
    </style>
  </head>
  <body>
    <h1><%= "#{@guidance_group.org}: #{@guidance_group.name} (#{@guidance_group.language.name})" %></h1>
    <% language = @guidance_group.language.abbreviation %>
    <% @themes.each do |theme|%>
      <% @guidances.where(themes: { id: theme.id } ).each do |guidance|%>
        <% if language == "fr-FR" %>
          <h2><%= theme.title  %></h2>
        <% elsif language == "en-GB" %>
          <h2><%= theme.translations.dig('en-GB', 'title')  %></h2>
        <% end%>
        <p><%= sanitize guidance.text %></p>
      <% end %>
    <% end %>
  </body>
</html>
