<%# locals: { section, export_format } %>

<% if export_format.eql?('pdf') %>
  <h2><%= section.title %></h2>
<% else %>
  <h3><%= section.title %></h3>
<% end %>
<p><%= sanitize section.description %></p>
<% section.questions.each do |question| %>
  <div class="question">
    <p><%= sanitize question.text.chomp.strip %></p>
    <% q_format = question.question_format %>
    <% if q_format.option_based? %>
      <ul>
      <% question.question_options.each do |option| %>
        <li><%= option.text.chomp.strip %><%= option.is_default? ? ' - ' + _('default') : '' %></li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <div class="annotations">
    <% question.annotations.each do |annotation| %>
      <% unless annotation.text.chomp.strip.gsub(/<\/?p>/, '').gsub(/<br\s?\/>/, '').blank? %>
        <br>
        <p><i><%= annotation.type == 'example_answer' ? _('Example Answer') : _('Guidance') %></i>:</p>
        <div style="margin-left: 15px;">
          <%= sanitize annotation.text.chomp.strip %>
        </div>
      <% end %>
    <% end %>
  </div>
  <br>
<% end %>
